<!DOCTYPE html>
<html>
<head>
	<title>Build Your Fleet</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<nav>
		<a href='/'>
			<h1> EveryStop Fleet Builder </h1>
		</a>
	</nav>
	{{{ body }}}
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/script.js"></script>
</body>
</html>