<main>
	<h2>Add New Tractor to Fleet</h2>
	<a href="/">Back</a>
	<div id="edit-form" class="tractor-container-show">
<form action="/" method="POST">
	<input type="text" name="tractor_number" placeholder="tractor number">
	<input type="text" name="tractor_make" placeholder="tractor make">
	<input type="submit" value="Submit">
</form>
<a href="/"><h3>Back to home</h3></a>
	</div>
</main>
